.actions {
  display: flex;
  gap: 10px;
  margin: 20px 10%;
  float: right;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.simulate {
  background-color: #ffc107;
  color: #000;
}

.execute {
  background-color: #198754;
  color: #fff;
}